html, body, header, #intro {
    height: 100%;
}
a {
    color: #fff !important;
}
#intro {
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}

/* Map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }